@import "tailwindcss";

/* wave animations */

@keyframes wave {

  0% {transform: translateX(0); }
  100% {transform: translateX(-20%); }
}

@keyframes pulse-glow{
  0%, 100%{
    opacity: 0.7;
    transform: scale(1);
  }
  50%{
    opacity: 1;
    transform: scale(1.1);
  }
}